@charset "utf-8";
*{margin:0; padding:0;}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:inherit;
    display: block;    
}
img{display: block; width: 100%;}

#wrap{
    width:80%;
    margin: 0 auto;
}
.A{display: block;}
.B{display: none;}

header{width: 100%;}
#slide{width: 100%;}
#contents{width: 100%;}
footer{width: 100%;}

@media screen and (max-width:720px) {
    
    .A{display: none;}
    .B{display: block;}
}


